.login-form{

  width:100%;
  height:960px;
    
   
    background-color: antiquewhite;
       margin:auto;
 
       background-repeat: no-repeat; 
       background-size: cover;;
       background-image: url('login.jpg');
   }
   .login{
       text-align: left;
       margin-left:40px;
 


  
   }
   input {
       width: 50%; 
      text-align: center;
   
      
}
input[type=text] {
   
   background-image: url('user.png');
   background-size: 50px;
   background-repeat: no-repeat;
   width: 40%;
   padding: 15px 22px;
   margin: 20px 10px;
   margin-top: 10%;
   box-sizing: border-box;
   border: 4px solid #8842d5;
border-radius: 5px;  }



input[type=password] {
   background-image: url('lock.png');
   background-size: 50px;
   background-repeat: no-repeat;
   width: 40%;
   padding: 15px 22px;
   margin: 10px 5px;
   box-sizing: border-box;  
   border: 4px solid #8842d5;
   border-radius: 5px;  
}

 
 button {
   display: inline-block;
   position: relative;
   padding: 20px 38px;
  width: 15%;
  margin-left:13%;
  
   font-family: "Open Sans", Helvetica;
   border-radius: 4px;
   border-bottom: 1px solid rgba( 28, 227, 125, 0.5 );
   background: #8842d5;
   color: #fff;

   
 
 }

 @media only screen and (max-width: 600px) {
   .login{
     margin-right: 35%;

 
  }
   input[type=text] {
     
      width: 50%;
      }
   
   
   
   input[type=password] {
     
      width: 50%;
     
   }
  
 }

 