
h1 { color: #ec1616; font-family: 'Lato', sans-serif; font-size: 54px;
     font-weight: 300; line-height: 58px; 

     text-align: center; }
h3{
    font-family: Georgia, serif;
    text-align: justify;
    margin-left:25%;
    margin-right:25%;
    font-size: 15px;


}

.msg {
    background-color: rgb(221, 232, 240);
    width: 80%;
    height: 100%;
    margin: auto
}


